.new-expense__controls {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.new-expense__control label {
  font-weight: bold;
  display: block;
  margin-bottom: 0.5rem;
}

.new-expense__control input {
  font: inherit;
  padding: 0.5rem;
  border-radius: 6px;
  border: 1px solid #cccccc;
  background-color: #f0f0f0;
}

.new-expense__actions {
  margin-top: 1rem;
  text-align: right;
}
